#testDiv1 {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 15px;
  margin: 10px;
}
#testDiv2 {
  box-sizing: border-box;
  float: left;
  width: 37.5%;
  padding: 15px;
  margin: 10px;
}

#testDiv3 {
    box-sizing: border-box;
    float: left;
    width: 37.5%;
    padding: 15px;
    margin: 10px;
}
#container {
  width: 100%;
}
